In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams["font.sans-serif"] = "SimHei" #解决中文乱码问题
import seaborn as sns
import random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn import model_selection
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [4]:
df_train = pd.read_csv("src/train_format1.csv")
df_test = pd.read_csv("test_format1.csv")
user_info = pd.read_csv("user_info_format1.csv")
user_log = pd.read_csv('user_log_format1.csv')



# user_log = spark.read.options(header='True', inferSchema='False', delimiter=',')\
# .csv("user_log_format1.csv").distinct()

FileNotFoundError: [Errno 2] File b'src/train_format1.csv' does not exist: b'src/train_format1.csv'

In [93]:
#age_range gender
df_train = pd.merge(df_train,user_info,on="user_id",how="left")
df_train.head()

   user_id  merchant_id  label  age_range  gender
0    34176         3906      0        6.0     0.0
1    34176          121      0        6.0     0.0
2    34176         4356      1        6.0     0.0
3    34176         2217      0        6.0     0.0
4   230784         4818      0        0.0     0.0

In [94]:
#category
categories_temp = user_log.groupby([user_log["user_id"],user_log["seller_id"],user_log["cat_id"]]).count().reset_index()[["user_id","seller_id","cat_id"]]

In [95]:
categories_temp.head(20)

    user_id  seller_id  cat_id
0         1        471     389
1         1        739    1252
2         1        925    1023
3         1       1019     992
4         1       1156    1256
5         1       2245     276
6         1       4026    1252
7         1       4177    1252
8         1       4335     389
9         2        420     602
10        2        420    1213
11        2       1179     500
12        2       1544     737
13        2       1679    1130
14        2       1784     420
15        2       1816     276
16        2       1974     737
17        2       1974    1326
18        2       2076     703
19        2       2194     276

In [96]:
categories_temp1 = categories_temp.groupby([categories_temp["user_id"],categories_temp["seller_id"]]).count().reset_index()

In [97]:
categories_temp1.rename(columns={"seller_id":"merchant_id","cat_id":"categories"},inplace=True)

In [98]:
df_train = pd.merge(df_train,categories_temp1,on=["user_id","merchant_id"],how="left")

In [99]:
df_train.head(10)

   user_id  merchant_id  label  age_range  gender  categories
0    34176         3906      0        6.0     0.0           6
1    34176          121      0        6.0     0.0           1
2    34176         4356      1        6.0     0.0           1
3    34176         2217      0        6.0     0.0           1
4   230784         4818      0        0.0     0.0           1
5   362112         2618      0        4.0     1.0           1
6    34944         2051      0        5.0     0.0           1
7   231552         3828      1        5.0     0.0          15
8   231552         2124      0        5.0     0.0           1
9   232320         1168      0        4.0     1.0           1

In [100]:
#one_clicks、shopping_carts、purchase_times、favourite_times

one_clicks_temp = user_log.groupby([user_log["user_id"],user_log["seller_id"],user_log["action_type"]]).count().reset_index()[["user_id","seller_id","action_type","item_id"]]
one_clicks_temp.head(10)

   user_id  seller_id  action_type  item_id
0        1        471            0        1
1        1        739            0        1
2        1        925            0        3
3        1        925            2        1
4        1       1019            0       10
5        1       1019            2        4
6        1       1156            0        1
7        1       2245            0        5
8        1       4026            0        4
9        1       4026            2        1

In [101]:
one_clicks_temp.rename(columns={"seller_id":"merchant_id","item_id":"times"},inplace=True)

In [102]:
one_clicks_temp["one_clicks"] = one_clicks_temp["action_type"] == 0

In [103]:
one_clicks_temp["one_clicks"] = one_clicks_temp["one_clicks"] * one_clicks_temp["times"]
one_clicks_temp.head(10)

   user_id  merchant_id  action_type  times  one_clicks
0        1          471            0      1           1
1        1          739            0      1           1
2        1          925            0      3           3
3        1          925            2      1           0
4        1         1019            0     10          10
5        1         1019            2      4           0
6        1         1156            0      1           1
7        1         2245            0      5           5
8        1         4026            0      4           4
9        1         4026            2      1           0

In [104]:
one_clicks_temp["shopping_carts"] = one_clicks_temp["action_type"] == 1

In [105]:
one_clicks_temp["shopping_carts"] = one_clicks_temp["shopping_carts"] * one_clicks_temp["times"]
one_clicks_temp.head(10)

   user_id  merchant_id  action_type  times  one_clicks  shopping_carts
0        1          471            0      1           1               0
1        1          739            0      1           1               0
2        1          925            0      3           3               0
3        1          925            2      1           0               0
4        1         1019            0     10          10               0
5        1         1019            2      4           0               0
6        1         1156            0      1           1               0
7        1         2245            0      5           5               0
8        1         4026            0      4           4               0
9        1         4026            2      1           0               0

In [106]:
one_clicks_temp["purchase_times"] = one_clicks_temp["action_type"] == 2

In [107]:
one_clicks_temp["purchase_times"] = one_clicks_temp["purchase_times"] * one_clicks_temp["times"]
one_clicks_temp.head(10)

,user_id,merchant_id,action_type,times,one_clicks,shopping_carts,purchase_times
0,1,471,0,1,1,0,0
1,1,739,0,1,1,0,0
2,1,925,0,3,3,0,0
3,1,925,2,1,0,0,1
4,1,1019,0,10,10,0,0
5,1,1019,2,4,0,0,4
6,1,1156,0,1,1,0,0
7,1,2245,0,5,5,0,0
8,1,4026,0,4,4,0,0
9,1,4026,2,1,0,0,1

In [108]:
one_clicks_temp["favourite_times"] = one_clicks_temp["action_type"] == 3

In [109]:
one_clicks_temp["favourite_times"] = one_clicks_temp["favourite_times"] * one_clicks_temp["times"]
one_clicks_temp.head(10)

,user_id,merchant_id,action_type,times,one_clicks,shopping_carts,purchase_times,favourite_times
0,1,471,0,1,1,0,0,0
1,1,739,0,1,1,0,0,0
2,1,925,0,3,3,0,0,0
3,1,925,2,1,0,0,1,0
4,1,1019,0,10,10,0,0,0
5,1,1019,2,4,0,0,4,0
6,1,1156,0,1,1,0,0,0
7,1,2245,0,5,5,0,0,0
8,1,4026,0,4,4,0,0,0
9,1,4026,2,1,0,0,1,0

In [111]:
four_features = one_clicks_temp.groupby([one_clicks_temp["user_id"],one_clicks_temp["merchant_id"]]).sum().reset_index()
four_features.head(10)

,user_id,merchant_id,action_type,times,one_clicks,shopping_carts,purchase_times,favourite_times
0,1,471,0,1,1,0,0,0
1,1,739,0,1,1,0,0,0
2,1,925,2,4,3,0,1,0
3,1,1019,2,14,10,0,4,0
4,1,1156,0,1,1,0,0,0
5,1,2245,0,5,5,0,0,0
6,1,4026,2,5,4,0,1,0
7,1,4177,0,1,1,0,0,0
8,1,4335,0,1,1,0,0,0
9,2,420,2,26,23,0,3,0

In [112]:
four_features = four_features.drop(["action_type","times"], axis=1)

In [113]:
df_train = pd.merge(df_train,four_features,on=["user_id","merchant_id"],how="left")
df_train.head(10)

,user_id,merchant_id,label,age_range,gender,categories,one_clicks,shopping_carts,purchase_times,favourite_times
0,34176,3906,0,6.0,0.0,6,36,0,1,2
1,34176,121,0,6.0,0.0,1,13,0,1,0
2,34176,4356,1,6.0,0.0,1,12,0,6,0
3,34176,2217,0,6.0,0.0,1,1,0,1,0
4,230784,4818,0,0.0,0.0,1,7,0,1,0
5,362112,2618,0,4.0,1.0,1,0,0,1,0
6,34944,2051,0,5.0,0.0,1,2,0,1,0
7,231552,3828,1,5.0,0.0,15,78,0,5,0
8,231552,2124,0,5.0,0.0,1,6,0,1,0
9,232320,1168,0,4.0,1.0,1,2,0,1,1

In [114]:
df_train = df_train.fillna(method='ffill')
# 缺失值向前填充

In [115]:
#resAge.write.csv("PycharmProjects/FBD-Final/output/test.csv" ) 似乎不行，每一行都是一个文件

In [116]:
# resAge.toPandas().to_csv('PycharmProjects/FBD-Final/output/ageRatioSQL.csv')

In [1]:
df_train.head(10)

NameError: name 'df_train' is not defined

In [118]:
#browse day 特征值
browse_days_temp = user_log.groupby([user_log["user_id"],user_log["seller_id"],user_log["time_stamp"]]).count().reset_index()[["user_id","seller_id","time_stamp"]]

In [119]:
browse_days_temp1 = browse_days_temp.groupby([browse_days_temp["user_id"],browse_days_temp["seller_id"]]).count().reset_index()

In [120]:
browse_days_temp1.rename(columns={"seller_id":"merchant_id","time_stamp":"browse_days"},inplace=True)

In [121]:
df_train = pd.merge(df_train,browse_days_temp1,on=["user_id","merchant_id"],how="left")

In [122]:
df_train.head(10)

,user_id,merchant_id,label,age_range,gender,categories,one_clicks,shopping_carts,purchase_times,favourite_times,browse_days
0,34176,3906,0,6.0,0.0,6,36,0,1,2,9
1,34176,121,0,6.0,0.0,1,13,0,1,0,3
2,34176,4356,1,6.0,0.0,1,12,0,6,0,2
3,34176,2217,0,6.0,0.0,1,1,0,1,0,1
4,230784,4818,0,0.0,0.0,1,7,0,1,0,3
5,362112,2618,0,4.0,1.0,1,0,0,1,0,1
6,34944,2051,0,5.0,0.0,1,2,0,1,0,1
7,231552,3828,1,5.0,0.0,15,78,0,5,0,3
8,231552,2124,0,5.0,0.0,1,6,0,1,0,1
9,232320,1168,0,4.0,1.0,1,2,0,1,1,2

In [123]:
df_train = df_train.fillna(method='ffill')

In [124]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260864 entries, 0 to 260863
Data columns (total 11 columns):
user_id            260864 non-null int64
merchant_id        260864 non-null int64
label              260864 non-null int64
age_range          260864 non-null float64
gender             260864 non-null float64
categories         260864 non-null int64
one_clicks         260864 non-null int64
shopping_carts     260864 non-null int64
purchase_times     260864 non-null int64
favourite_times    260864 non-null int64
browse_days        260864 non-null int64
dtypes: float64(2), int64(9)
memory usage: 23.9 MB

In [125]:
#模型构建与调参

In [126]:
Y = df_train['label']
X = df_train.drop(['user_id','merchant_id','label'],axis = 1)
X.head(10)

,age_range,gender,categories,one_clicks,shopping_carts,purchase_times,favourite_times,browse_days
0,6.0,0.0,6,36,0,1,2,9
1,6.0,0.0,1,13,0,1,0,3
2,6.0,0.0,1,12,0,6,0,2
3,6.0,0.0,1,1,0,1,0,1
4,0.0,0.0,1,7,0,1,0,3
5,4.0,1.0,1,0,0,1,0,1
6,5.0,0.0,1,2,0,1,0,1
7,5.0,0.0,15,78,0,5,0,3
8,5.0,0.0,1,6,0,1,0,1
9,4.0,1.0,1,2,0,1,1,2

In [127]:
Y.head(10)

0    0
1    0
2    1
3    0
4    0
5    0
6    0
7    1
8    0
9    0
Name: label, dtype: int64

In [128]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.25,random_state = 10)

In [129]:
Logit = LogisticRegression(solver='liblinear')

Logit.fit(X_train, y_train)
Predict = Logit.predict(X_test)
Predict_proba = Logit.predict_proba(X_test)
print(Predict[0:20])
print(Predict_proba[:])
Score = accuracy_score(y_test, Predict)
Score

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[[0.79817726 0.20182274]
 [0.95549544 0.04450456]
 [0.95071615 0.04928385]
 ...
 [0.94539031 0.05460969]
 [0.95425198 0.04574802]
 [0.93616042 0.06383958]]

0.9383280176643768

In [130]:
#特征值

In [131]:
df_test = pd.merge(df_test,user_info,on="user_id",how="left")
# df_test = pd.merge(df_test,total_logs_temp,on=["user_id","merchant_id"],how="left")
# df_test = pd.merge(df_test,unique_item_ids_temp1,on=["user_id","merchant_id"],how="left")
df_test = pd.merge(df_test,categories_temp1,on=["user_id","merchant_id"],how="left")
df_test = pd.merge(df_test,four_features,on=["user_id","merchant_id"],how="left")
df_test = pd.merge(df_test,browse_days_temp1,on=["user_id","merchant_id"],how="left")
df_test = df_test.fillna(method='bfill')
df_test = df_test.fillna(method='ffill')
df_test.head(10)

,user_id,merchant_id,prob,age_range,gender,categories,one_clicks,shopping_carts,purchase_times,favourite_times,browse_days
0,163968,4605,NaN,0.0,0.0,1,1,0,1,0,1
1,360576,1581,NaN,2.0,2.0,4,5,0,5,0,1
2,98688,1964,NaN,6.0,0.0,1,5,0,1,0,1
3,98688,3645,NaN,6.0,0.0,1,10,0,1,0,1
4,295296,3361,NaN,2.0,1.0,4,47,0,1,2,5
5,33408,98,NaN,2.0,0.0,1,9,0,1,1,4
6,230016,1742,NaN,5.0,1.0,1,11,0,2,0,1
7,164736,598,NaN,3.0,1.0,1,1,0,1,0,1
8,164736,1963,NaN,3.0,1.0,1,2,0,1,0,1
9,164736,2634,NaN,3.0,1.0,3,6,0,1,0,1

In [ ]:
#模型预测

In [132]:
X1 = df_test.drop(['user_id','merchant_id','prob'],axis = 1)
Predict_proba = Logit.predict_proba(X1)
df_test["Logit_prob"] = Predict_proba[:,1]
Predict_proba[0:10]

array([[0.95478654, 0.04521346],
       [0.89301091, 0.10698909],
       [0.94641862, 0.05358138],
       [0.94651733, 0.05348267],
       [0.92798463, 0.07201537],
       [0.9422846 , 0.0577154 ],
       [0.94209892, 0.05790108],
       [0.95421795, 0.04578205],
       [0.95423497, 0.04576503],
       [0.94619357, 0.05380643]])

In [135]:
pd.DataFrame(Predict_proba).to_csv("排名罗辑思特.csv")

[Row(_c0='99999', user_id='197797', merchant_id='2637', prob=None, age_range='6.0', gender='0.0', categories='1', one_clicks='2', shopping_carts='0', purchase_times='3', favourite_times='0'),
 Row(_c0='99998', user_id='131749', merchant_id='1538', prob=None, age_range='5.0', gender='0.0', categories='1', one_clicks='3', shopping_carts='0', purchase_times='1', favourite_times='0'),
 Row(_c0='99997', user_id='131749', merchant_id='908', prob=None, age_range='5.0', gender='0.0', categories='1', one_clicks='2', shopping_carts='0', purchase_times='1', favourite_times='0'),
 Row(_c0='99996', user_id='262309', merchant_id='747', prob=None, age_range='3.0', gender='0.0', categories='1', one_clicks='0', shopping_carts='0', purchase_times='1', favourite_times='0'),
 Row(_c0='99995', user_id='65701', merchant_id='3288', prob=None, age_range='7.0', gender='1.0', categories='1', one_clicks='1', shopping_carts='0', purchase_times='1', favourite_times='0'),
 Row(_c0='99994', user_id='327589', merchant_id='1999', prob=None, age_range='4.0', gender='2.0', categories='1', one_clicks='7', shopping_carts='0', purchase_times='1', favourite_times='0'),
 Row(_c0='99993', user_id='327589', merchant_id='1162', prob=None, age_range='4.0', gender='2.0', categories='12', one_clicks='112', shopping_carts='0', purchase_times='4', favourite_times='0'),
 Row(_c0='99992', user_id='130981', merchant_id='1472', prob=None, age_range='2.0', gender='1.0', categories='1', one_clicks='0', shopping_carts='0', purchase_times='1', favourite_times='0'),
 Row(_c0='99991', user_id='392869', merchant_id='4727', prob=None, age_range='6.0', gender='1.0', categories='1', one_clicks='2', shopping_carts='0', purchase_times='1', favourite_times='0'),
 Row(_c0='99990', user_id='196261', merchant_id='293', prob=None, age_range='0.0', gender='0.0', categories='2', one_clicks='14', shopping_carts='0', purchase_times='1', favourite_times='1')]

LabeledPoint(1.0, [2.0,2.0,4.0,5.0,0.0,5.0,0.0])

0.0

Traceback (most recent call last):
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/serializers.py", line 468, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 1097, in dumps
    cp.dump(obj)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 357, in dump
    return Pickler.dump(self, obj)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 437, in dump
    self.save(obj)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 789, in save_tuple
    save(element)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 501, in save_function
    self.save_function_tuple(obj)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 730, in save_function_tuple
    save(state)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 859, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 885, in _batch_setitems
    save(v)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 819, in save_list
    self._batch_appends(obj)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 843, in _batch_appends
    save(x)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 501, in save_function
    self.save_function_tuple(obj)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 730, in save_function_tuple
    save(state)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 859, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 885, in _batch_setitems
    save(v)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 819, in save_list
    self._batch_appends(obj)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 843, in _batch_appends
    save(x)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 501, in save_function
    self.save_function_tuple(obj)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 730, in save_function_tuple
    save(state)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 859, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 885, in _batch_setitems
    save(v)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 819, in save_list
    self._batch_appends(obj)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 843, in _batch_appends
    save(x)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 501, in save_function
    self.save_function_tuple(obj)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 730, in save_function_tuple
    save(state)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 859, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 885, in _batch_setitems
    save(v)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 819, in save_list
    self._batch_appends(obj)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 846, in _batch_appends
    save(tmp[0])
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 496, in save_function
    self.save_function_tuple(obj)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/cloudpickle.py", line 730, in save_function_tuple
    save(state)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 859, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 885, in _batch_setitems
    save(v)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 859, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 890, in _batch_setitems
    save(v)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 549, in save
    self.save_reduce(obj=obj, *rv)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 662, in save_reduce
    save(state)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 504, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 859, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 885, in _batch_setitems
    save(v)
  File "/Users/guyi/opt/anaconda3/lib/python3.7/pickle.py", line 524, in save
    rv = reduce(self.proto)
  File "/usr/local/Cellar/apache-spark/3.0.1/libexec/python/pyspark/context.py", line 348, in __getnewargs__
    "It appears that you are attempting to reference SparkContext from a broadcast "
Exception: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

PicklingError: Could not serialize object: Exception: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

In [165]:
# df1 = df.toPandas()
df = pd.DataFrame(svmTotalCorrect.collect())

In [166]:
df.to_csv("prob.csv")